In [26]:
import numpy as np
import pandas as pd
import yfinance as yf
import tensorflow as tf
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import MinMaxScaler
pd.options.mode.chained_assignment = None
tf.random.set_seed(0)
from stock_utils import *

In [27]:
from datetime import datetime
tech_list = ['AAPL', 'GOOG', 'AMZN']

start = "2010-01-01"
end = datetime.now()
for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    
company_list = [AAPL, GOOG, AMZN]
company_name = ["APPLE", "GOOGLE", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.515213,493729600,APPLE
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.526477,601904800,APPLE
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.422665,552160000,APPLE
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.410792,477131200,APPLE
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.453413,447610800,APPLE
2010-01-11,7.600000,7.607143,7.444643,7.503929,6.396483,462229600,APPLE
2010-01-12,7.471071,7.491786,7.372143,7.418571,6.323722,594459600,APPLE
2010-01-13,7.423929,7.533214,7.289286,7.523214,6.412921,605892000,APPLE
2010-01-14,7.503929,7.516429,7.465000,7.479643,6.375782,432894000,APPLE
2010-01-15,7.533214,7.557143,7.352500,7.354643,6.269230,594067600,APPLE

In [538]:
n_lookback = 500
n_forecast = 30
df_stock = AAPL.reset_index().copy()

In [539]:
df_stock, df_left = create_backtest_frames(df_stock,n_lookback,n_forecast)

In [540]:
df_stock = feature_creation(df_stock)

In [541]:
df_stock.bfill(inplace=True)
df_stock.ffill(inplace=True)

In [542]:
#df_left = df_stock.iloc[:-100]
df_stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name,50D-SMA,50D-EMA,rsi,rsicat,average,vwap,vwap_pct_ret,pvwap
3255,2022-12-07,142.190002,143.369995,140.000000,140.940002,140.940002,69721100,APPLE,145.302199,147.350365,42.307581,1,141.436666,140.940002,-0.013785,0.012133
3256,2022-12-08,142.360001,143.520004,141.100006,142.649994,142.649994,62128300,APPLE,145.158399,147.166037,45.006661,1,142.423335,142.649994,0.012133,-0.003435
3257,2022-12-09,142.339996,145.570007,140.899994,142.160004,142.160004,76097000,APPLE,145.151999,146.969722,44.366149,1,142.876668,142.160004,-0.003435,0.016390
3258,2022-12-12,142.699997,144.500000,141.059998,144.490005,144.490005,70462700,APPLE,145.277799,146.872478,48.145280,1,143.350001,144.490005,0.016390,0.006782
3259,2022-12-13,149.500000,149.970001,144.240005,145.470001,145.470001,93886200,APPLE,145.338199,146.817479,49.693143,1,146.560003,145.470001,0.006782,0.006782

In [543]:
df_left.head()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name
3260,2022-12-14,145.350006,146.660004,141.160004,143.210007,143.210007,82291200,APPLE
3261,2022-12-15,141.110001,141.800003,136.029999,136.500000,136.500000,98931900,APPLE
3262,2022-12-16,136.690002,137.649994,133.729996,134.509995,134.509995,160156900,APPLE
3263,2022-12-19,135.110001,135.199997,131.320007,132.369995,132.369995,79592600,APPLE
3264,2022-12-20,131.389999,133.250000,129.889999,132.300003,132.300003,77432800,APPLE

In [544]:
# Removing last n rows
#df_dropped_last_n = df.iloc[:-100]

In [545]:
df_stock.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'company_name', '50D-SMA', '50D-EMA', 'rsi', 'rsicat', 'average',
       'vwap', 'vwap_pct_ret', 'pvwap'],
      dtype='object')

In [546]:
features = ['Close','50D-SMA','50D-EMA','rsi']
x = df_stock[features]
scaler = MinMaxScaler(feature_range=(0, 1))
x = scaler.fit_transform(x)

In [547]:
x.shape

(3260, 4)

In [548]:
y = df_stock['Close'].fillna(method='ffill')
y = y.values.reshape(-1, 1)

# scale the data
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(y)
y = scaler.transform(y)

In [549]:
f_len = len(features)

In [515]:
#import tensorflow as tf

stock_model = tf.keras.models.load_model('saved_models/AAPL_15day_model')

In [516]:
df_f,df_p = make_future_dataframe(df_stock,x,y,n_lookback,n_forecast,stock_model,scaler,features,f_len)

In [517]:
rmse = np.sqrt(np.mean(((np.array(df_f['Forecast'])- np.array(df_left['Close'])) ** 2)))
rmse

5.594776321971569

In [518]:
from sklearn.metrics import mean_absolute_percentage_error,mean_absolute_error
print(mean_absolute_percentage_error(np.array(df_left['Close']), np.array(df_f['Forecast'])))
print(mean_absolute_error(np.array(df_left['Close']), np.array(df_f['Forecast'])))

0.03279278603854842
4.532716878255209