In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import tensorflow as tf
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import MinMaxScaler
pd.options.mode.chained_assignment = None
tf.random.set_seed(0)
from stock_utils import *

C:\Users\adity\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\adity\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\adity\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
def RSI(series, period):
    
    delta = series.diff().dropna()
    u = delta * 0
    d = u.copy()
    u[delta > 0] = delta[delta > 0]
    d[delta < 0] = -delta[delta < 0]
    u[u.index[period-1]] = np.mean( u[:period] ) #first value is sum of avg gains
    u = u.drop(u.index[:(period-1)])
    d[d.index[period-1]] = np.mean( d[:period] ) #first value is sum of avg losses
    d = d.drop(d.index[:(period-1)])
    rs = pd.DataFrame.ewm(u, com=period-1, adjust=False).mean() / \
         pd.DataFrame.ewm(d, com=period-1, adjust=False).mean()
    
    return 100 - 100 / (1 + rs)


def rsi_class(x):
    ret = "low"
    if x < 50:
        ret = "low"
    if x > 50:
        ret = "med"
    if x > 70:
        ret = "high"
    return(ret)

In [3]:
from datetime import datetime
tech_list = ['AAPL', 'GOOG', 'AMZN']

start = "2010-01-01"
end = datetime.now()
for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    
company_list = [AAPL, GOOG, AMZN]
company_name = ["APPLE", "GOOGLE", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.515213,493729600,APPLE
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.526477,601904800,APPLE
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.422665,552160000,APPLE
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.410791,477131200,APPLE
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.453411,447610800,APPLE
2010-01-11,7.600000,7.607143,7.444643,7.503929,6.396483,462229600,APPLE
2010-01-12,7.471071,7.491786,7.372143,7.418571,6.323722,594459600,APPLE
2010-01-13,7.423929,7.533214,7.289286,7.523214,6.412921,605892000,APPLE
2010-01-14,7.503929,7.516429,7.465000,7.479643,6.375781,432894000,APPLE
2010-01-15,7.533214,7.557143,7.352500,7.354643,6.269227,594067600,APPLE

In [126]:
n_lookback = 500
n_forecast = 60
df_stock = AMZN.reset_index().copy()

In [127]:
df_stock, df_left = create_backtest_frames(df_stock,n_lookback,n_forecast)

In [128]:
df_stock = feature_creation(df_stock)

In [129]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3230 entries, 0 to 3229
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3230 non-null   datetime64[ns]
 1   Open          3230 non-null   float64
 2   High          3230 non-null   float64
 3   Low           3230 non-null   float64
 4   Close         3230 non-null   float64
 5   Adj Close     3230 non-null   float64
 6   Volume        3230 non-null   int64
 7   company_name  3230 non-null   object
 8   50D-SMA       3181 non-null   float64
 9   50D-EMA       3230 non-null   float64
 10  rsi           3216 non-null   float64
 11  rsicat        3230 non-null   int8
 12  average       3230 non-null   float64
 13  vwap          3230 non-null   float64
 14  vwap_pct_ret  3229 non-null   float64
 15  pvwap         3229 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1), int8(1), object(1)
memory usage: 381.8+ KB

In [130]:
df_stock.bfill(inplace=True)
df_stock.ffill(inplace=True)

In [131]:
#df_left = df_stock.iloc[:-100]
df_stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name,50D-SMA,50D-EMA,rsi,rsicat,average,vwap,vwap_pct_ret,pvwap
3225,2022-10-25,119.650002,121.320000,118.949997,120.599998,120.599998,50934600,AMAZON,123.6012,120.609798,54.169981,2,120.289998,120.599998,0.006510,-0.040962
3226,2022-10-26,116.000000,119.349998,114.760002,115.660004,115.660004,68802300,AMAZON,123.0188,120.415688,46.500584,1,116.590001,115.660004,-0.040962,-0.040636
3227,2022-10-27,113.919998,114.120003,109.769997,110.959999,110.959999,129605400,AMAZON,122.3960,120.044877,40.609601,1,111.616666,110.959999,-0.040636,-0.068042
3228,2022-10-28,97.910004,103.959999,97.660004,103.410004,103.410004,223133400,AMAZON,121.6182,119.392529,33.309477,1,101.676669,103.410004,-0.068042,-0.009380
3229,2022-10-31,103.559998,104.870003,100.739998,102.440002,102.440002,99251400,AMAZON,120.9024,118.727724,32.501108,1,102.683334,102.440002,-0.009380,-0.009380

In [132]:
df_left.head()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name
3230,2022-11-01,103.989998,104.580002,96.059998,96.790001,96.790001,153370000,AMAZON
3231,2022-11-02,97.320000,97.739998,92.010002,92.120003,92.120003,135761800,AMAZON
3232,2022-11-03,92.470001,93.500000,89.019997,89.300003,89.300003,136683300,AMAZON
3233,2022-11-04,91.489998,92.440002,88.040001,90.980003,90.980003,129101300,AMAZON
3234,2022-11-07,91.949997,92.099998,89.040001,90.529999,90.529999,77495700,AMAZON

In [133]:
# Removing last n rows
#df_dropped_last_n = df.iloc[:-100]

In [134]:
df_stock.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'company_name', '50D-SMA', '50D-EMA', 'rsi', 'rsicat', 'average',
       'vwap', 'vwap_pct_ret', 'pvwap'],
      dtype='object')

In [257]:
features = ['Close','50D-EMA','rsi', 'rsicat','vwap']
x = df_stock[features]
scaler = MinMaxScaler(feature_range=(0, 1))
x = scaler.fit_transform(x)

In [258]:
y = df_stock['Close'].fillna(method='ffill')
y = y.values.reshape(-1, 1)

# scale the data
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(y)
y = scaler.transform(y)

In [259]:
f_len = len(features)

In [260]:
%run stock_utils.py
a,b = create_train_test_windows(x,y,n_lookback,n_forecast)
stock_model = create_model(n_lookback,n_forecast,f_len,model_type='LSTM')
stock_model.fit(a, b, epochs=2, batch_size=32)

Epoch 1/10
84/84 [==============================] - 39s 467ms/step - loss: 0.0373
Epoch 2/10
84/84 [==============================] - 49s 583ms/step - loss: 0.0029
Epoch 3/10
84/84 [==============================] - 52s 617ms/step - loss: 0.0027
Epoch 4/10
84/84 [==============================] - 52s 619ms/step - loss: 0.0026
Epoch 5/10
84/84 [==============================] - 52s 624ms/step - loss: 0.0026
Epoch 6/10
84/84 [==============================] - 57s 680ms/step - loss: 0.0026
Epoch 7/10
84/84 [==============================] - 56s 670ms/step - loss: 0.0024
Epoch 8/10
84/84 [==============================] - 52s 616ms/step - loss: 0.0024
Epoch 9/10
84/84 [==============================] - 55s 656ms/step - loss: 0.0026
Epoch 10/10
84/84 [==============================] - 62s 733ms/step - loss: 0.0025

In [253]:
#stock_model = tf.keras.models.load_model('saved_models/AAPL_7day_model')

In [261]:
%run stock_utils.py
df_f,df_p = make_future_dataframe(df_stock,x,y,n_lookback,n_forecast,stock_model,scaler,features,f_len)

WARNING:tensorflow:9 out of the last 11 calls to <function Model.make_predict_function.<locals>.predict_function at 0x00000122655768B0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [243]:
df_p.tail()

,Date,Actual,50D-SMA,50D-EMA,rsi,rsicat,Forecast
3225,2022-10-25,120.599998,123.6012,120.609798,54.169981,2,NaN
3226,2022-10-26,115.660004,123.0188,120.415688,46.500584,1,NaN
3227,2022-10-27,110.959999,122.3960,120.044877,40.609601,1,NaN
3228,2022-10-28,103.410004,121.6182,119.392529,33.309477,1,NaN
3229,2022-10-31,102.440002,120.9024,118.727724,32.501108,1,102.440002

In [244]:
df_f.head()

        Date Actual    Forecast
0 2022-11-01    NaN  109.898682
1 2022-11-02    NaN  112.700600
2 2022-11-03    NaN  113.212753
3 2022-11-04    NaN  113.218048
4 2022-11-05    NaN  111.261414

In [81]:
df_left.head()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name
3260,2022-12-14,145.350006,146.660004,141.160004,143.210007,143.210007,82291200,APPLE
3261,2022-12-15,141.110001,141.800003,136.029999,136.500000,136.500000,98931900,APPLE
3262,2022-12-16,136.690002,137.649994,133.729996,134.509995,134.509995,160156900,APPLE
3263,2022-12-19,135.110001,135.199997,131.320007,132.369995,132.369995,79592600,APPLE
3264,2022-12-20,131.389999,133.250000,129.889999,132.300003,132.300003,77432800,APPLE

In [ ]:
import matplotlib.pyplot as plt
df_left['Forecast'] = df_f['Forecast']
df_left.plot(x='Date',y=['Forecast','Close'])

In [262]:
rmse = np.sqrt(np.mean(((np.array(df_f['Forecast'])- np.array(df_left['Close'])) ** 2)))
rmse

31.185313283182204

In [263]:
from sklearn.metrics import mean_absolute_percentage_error,mean_absolute_error
print(mean_absolute_percentage_error(np.array(df_left['Close']), np.array(df_f['Forecast'])))
print(mean_absolute_error(np.array(df_left['Close']), np.array(df_f['Forecast'])))

0.3377202257427153
30.53525670369466

In [217]:
stock_model.save('saved_models/AMZN_60day_model')

INFO:tensorflow:Assets written to: saved_models/AMZN_30day_model\assets

In [ ]:
#df = df.reset_index()

In [ ]:
#df_Actual = df.loc[(df['Date']>='2022-08-23')&(df['Date']<='2022-10-11')]

In [ ]:
#df_Actual.head(36)

In [ ]:
#new_df = pd.merge(df_Actual, df_future,  how='inner',on='Date')

In [ ]:
#new_df.head(36)

In [ ]:
#df_future = df_future[df_future.Date.dt.weekday < 5]

In [ ]:
#from sklearn.metrics import mean_squared_error
#mean_squared_error(np.array(new_df['Close']),np.array(new_df['Forecast']))
#df_future.head(5)

In [ ]:
#df_Actual.shape

In [ ]:
#rmse = np.sqrt(np.mean(((np.array(df_future['Forecast'])- np.array(df_Actual['Close'])) ** 2)))
#rmse

In [ ]:
#results = df_past.append(df_future).set_index('Date')

# plot the results
#results.plot(title='AAPL')