In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import tensorflow as tf
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import MinMaxScaler
pd.options.mode.chained_assignment = None
tf.random.set_seed(0)
from stock_utils import *

C:\Users\adity\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\adity\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\adity\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from datetime import datetime
tech_list = ['AAPL', 'GOOG', 'AMZN']

start = "2010-01-01"
end = datetime.now()
for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    
company_list = [AAPL, GOOG, AMZN]
company_name = ["APPLE", "GOOGLE", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.515213,493729600,APPLE
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.526477,601904800,APPLE
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.422665,552160000,APPLE
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.410792,477131200,APPLE
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.453412,447610800,APPLE
2010-01-11,7.600000,7.607143,7.444643,7.503929,6.396483,462229600,APPLE
2010-01-12,7.471071,7.491786,7.372143,7.418571,6.323722,594459600,APPLE
2010-01-13,7.423929,7.533214,7.289286,7.523214,6.412922,605892000,APPLE
2010-01-14,7.503929,7.516429,7.465000,7.479643,6.375783,432894000,APPLE
2010-01-15,7.533214,7.557143,7.352500,7.354643,6.269229,594067600,APPLE

In [3]:
n_lookback = 500
n_forecast = 60
df_stock = AMZN.reset_index().copy()

In [4]:
df_stock, df_left = create_backtest_frames(df_stock,n_lookback,n_forecast)

In [5]:
df_stock = feature_creation(df_stock)

In [6]:
df_stock.bfill(inplace=True)
df_stock.ffill(inplace=True)

In [7]:
#df_left = df_stock.iloc[:-100]
df_stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name,50D-SMA,50D-EMA,rsi,rsicat,average,vwap,vwap_pct_ret,pvwap
3256,2022-12-08,89.239998,90.860001,87.879997,90.349998,90.349998,73305900,AMAZON,103.0416,101.833938,39.751727,1,89.696665,90.349998,0.021366,-0.013946
3257,2022-12-09,88.900002,90.300003,88.629997,89.089996,89.089996,67398500,AMAZON,102.5274,101.334176,37.993625,1,89.339999,89.089996,-0.013946,0.016388
3258,2022-12-12,89.209999,90.580002,87.870003,90.550003,90.550003,61999800,AMAZON,102.0784,100.911267,41.236739,1,89.666669,90.550003,0.016388,0.021425
3259,2022-12-13,95.230003,96.250000,90.519997,92.489998,92.489998,100212000,AMAZON,101.6106,100.581021,45.328561,1,93.086665,92.489998,0.021425,-0.009839
3260,2022-12-14,92.500000,93.459999,89.870003,91.580002,91.580002,70298000,AMAZON,101.0204,100.228040,43.788306,1,91.636668,91.580002,-0.009839,-0.009839

In [8]:
df_left.head()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name
3261,2022-12-15,89.889999,89.970001,87.470001,88.449997,88.449997,84802900,AMAZON
3262,2022-12-16,88.269997,89.349998,86.730003,87.860001,87.860001,146144100,AMAZON
3263,2022-12-19,87.510002,87.629997,84.510002,84.919998,84.919998,83531500,AMAZON
3264,2022-12-20,85.330002,86.610001,84.330002,85.190002,85.190002,74348300,AMAZON
3265,2022-12-21,86.180000,87.230003,85.209999,86.769997,86.769997,59267200,AMAZON

In [544]:
# Removing last n rows
#df_dropped_last_n = df.iloc[:-100]

In [545]:
df_stock.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'company_name', '50D-SMA', '50D-EMA', 'rsi', 'rsicat', 'average',
       'vwap', 'vwap_pct_ret', 'pvwap'],
      dtype='object')

In [9]:
features = ['Close','50D-SMA','50D-EMA','rsi','rsicat']
x = df_stock[features]
scaler = MinMaxScaler(feature_range=(0, 1))
x = scaler.fit_transform(x)

In [10]:
x.shape

(3261, 5)

In [11]:
y = df_stock['Close'].fillna(method='ffill')
y = y.values.reshape(-1, 1)

# scale the data
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(y)
y = scaler.transform(y)

In [12]:
f_len = len(features)

In [13]:
#import tensorflow as tf

stock_model = tf.keras.models.load_model('saved_models/AMZN_60day_model')

In [15]:
stock_model.summary()

Model: "sequential_26"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_52 (LSTM)               (None, 500, 100)          42400
_________________________________________________________________
lstm_53 (LSTM)               (None, 50)                30200
_________________________________________________________________
dense_58 (Dense)             (None, 25)                1275
_________________________________________________________________
dense_59 (Dense)             (None, 60)                1560
=================================================================
Total params: 75,435
Trainable params: 75,435
Non-trainable params: 0
_________________________________________________________________

In [14]:
df_f,df_p = make_future_dataframe(df_stock,x,y,n_lookback,n_forecast,stock_model,scaler,features,f_len)

ValueError: Length of values (60) does not match length of index (30)

In [517]:
rmse = np.sqrt(np.mean(((np.array(df_f['Forecast'])- np.array(df_left['Close'])) ** 2)))
rmse

5.594776321971569

In [518]:
from sklearn.metrics import mean_absolute_percentage_error,mean_absolute_error
print(mean_absolute_percentage_error(np.array(df_left['Close']), np.array(df_f['Forecast'])))
print(mean_absolute_error(np.array(df_left['Close']), np.array(df_f['Forecast'])))

0.03279278603854842
4.532716878255209